body{
    width: 100%;
    background-image: url(https://c0.wallpaperflare.com/preview/783/949/95/accountant-accounting-calculator-data.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.head{
     font-size: x-large;
     font-weight: bold;
     position: relative;
     color: black;
}
.main_class{
    width: 100%;
    width: fit-content;
    color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;   
}
a {
    color: orange;
}
